In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('./files_for_lab/Spotify_final_dataset.csv')
top_100 = pd.read_csv('./files_for_lab/top_100.csv')
data.columns = [col.lower().replace(' ', '_') for col in data.columns]
data = data[['artist_name', 'song_name']]
data.rename(columns = {'artist_name': 'artist', 'song_name':'song'}, inplace=True)
data = data[['song','artist']]
display(data.shape)
data = data.drop_duplicates()
top_100 = top_100.drop(['Number'], axis=1)
top_100.columns = [col.lower().replace(' ', '_') for col in top_100.columns]
display(data.head())
display(data.shape)
display(top_100.head())
display(top_100.shape)

(11084, 2)

                                         song         artist
0  Sunflower  SpiderMan: Into the SpiderVerse   Post Malone
1                                Lucid Dreams    Juice WRLD
2                               XO TOUR Llif3  Lil Uzi Vert
3                              No Role Modelz       J. Cole
4                                    rockstar   Post Malone

(10945, 2)

        song                                artist
0    Flowers                           Miley Cyrus
1  Kill Bill                                   SZA
2   Creepin'  Metro Boomin, The Weeknd & 21 Savage
3  Anti-Hero                          Taylor Swift
4     Unholy                Sam Smith & Kim Petras

(100, 2)

In [3]:
top_100['artist'] = top_100['artist'].str.lower()
top_100['song'] = top_100['song'].str.lower()
top_100['song'] = top_100['song'].str.replace(' ', '_')
top_100['artist'] = top_100['artist'].str.replace(' ', '_')


data['artist'] = data['artist'].str.lower()
data['song'] = data['song'].str.lower()
data['song'] = data['song'].str.replace(' ', '_')
data['artist'] = data['artist'].str.replace(' ', '_')
data['artist'] = data['artist'].str.rstrip('_')

In [4]:
display(data.head())
display(data.shape)
display(top_100.head())
display(top_100.shape)

                                         song        artist
0  sunflower__spiderman:_into_the_spiderverse   post_malone
1                                lucid_dreams    juice_wrld
2                               xo_tour_llif3  lil_uzi_vert
3                              no_role_modelz       j._cole
4                                    rockstar   post_malone

(10945, 2)

        song                                artist
0    flowers                           miley_cyrus
1  kill_bill                                   sza
2   creepin'  metro_boomin,_the_weeknd_&_21_savage
3  anti-hero                          taylor_swift
4     unholy                sam_smith_&_kim_petras

(100, 2)

data_final = pd.concat([data, top_100], axis=0)
display(data_final.shape)
data_final = data_final.drop_duplicates()
display(data_final.shape)
data_final = data_final.reset_index(drop=True)

In [5]:
display(data.shape)

(10945, 2)

In [6]:
data['check'] = data.song.isin(top_100.song)

In [7]:
data_original = data.shape[0]
data

                                             song             artist  check
0      sunflower__spiderman:_into_the_spiderverse        post_malone  False
1                                    lucid_dreams         juice_wrld  False
2                                   xo_tour_llif3       lil_uzi_vert  False
3                                  no_role_modelz            j._cole  False
4                                        rockstar        post_malone  False
...                                           ...                ...    ...
11079                              if_i_die_young     the_band_perry  False
11080                             not_a_bad_thing  justin_timberlake  False
11081                                      it__23     mike_will_made  False
11082                             somebody_to_you          the_vamps  False
11083                               z__holy_grail                jay  False

[10945 rows x 3 columns]

In [8]:
data2 = data[(data['check'] == False)]
data_final = data2.shape[0]
data_final

10862

In [9]:
data = data.drop(['check'], axis=1)

In [10]:
print('Number of songs in downloaded dataset that were also in the top 100:',data_original - data_final)

Number of songs in downloaded dataset that were also in the top 100: 83