# Lab | Not hot songs

In [1]:
import pandas as pd
import numpy as np

In [2]:
ls Lab_Afternoon/Files_for_lab/

ls: Lab_Afternoon/Files_for_lab/: No such file or directory

In [3]:
spotify_data = pd.read_csv('Files_for_lab/Spotify_final_dataset.csv')

In [4]:
spotify_data.head()

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961

In [5]:
spotify_data = spotify_data[['Artist Name','Song Name']]

In [6]:
cols = []
for col in spotify_data.columns:
  cols.append(col.lower().replace(' ', '_'))
spotify_data.columns = cols

In [7]:
top100 = pd.read_csv('Files_for_lab/top_100.csv')

In [8]:
top100 = top100.drop(columns='Number')

In [9]:
top100.head()

        Song                                Artist
0    Flowers                           Miley Cyrus
1  Kill Bill                                   SZA
2   Creepin'  Metro Boomin, The Weeknd & 21 Savage
3  Anti-Hero                          Taylor Swift
4     Unholy                Sam Smith & Kim Petras

### cleaning words

In [10]:
top100['Artist'] = top100['Artist'].str.lower()
top100['Artist'] = top100['Artist'].str.replace(' ', '_')
spotify_data['artist_name'] = spotify_data['artist_name'].str.lower()
spotify_data['artist_name'] = spotify_data['artist_name'].str.replace(' ', '_')
spotify_data['artist_name'] = spotify_data['artist_name'].str.rstrip('_')
spotify_data['song_name'] = spotify_data['song_name'].str.lower()
spotify_data['song_name'] = spotify_data['song_name'].str.replace(' ', '_')
top100['Song'] = top100['Song'].str.lower()
top100['Song'] = top100['Song'].str.replace(' ', '_')
spotify_data = spotify_data.drop_duplicates()

In [11]:
spotify_data.shape

(10943, 2)

In [12]:
spotify_data['check'] = spotify_data['song_name'].isin(top100['Song'])
spotify_data[spotify_data['check']==True]

             artist_name           song_name  check
51          harry_styles           as_it_was   True
136           the_weeknd         die_for_you   True
139           steve_lacy           bad_habit   True
290               future          wait_for_u   True
316                lizzo     about_damn_time   True
...                  ...                 ...    ...
7885       lainey_wilson  heart_like_a_truck   True
8577                 nav                snap   True
8671   sabrina_carpenter            nonsense   True
10780                sia         unstoppable   True
10850           flo_rida                 low   True

[83 rows x 3 columns]

In [13]:
spotify_data = spotify_data[spotify_data['check']==False]

In [14]:
spotify_data = spotify_data[['song_name','artist_name']]

In [15]:
spotify_data = spotify_data.rename(columns={'song_name':'song','artist_name':'artist'})

In [16]:
top100 = top100.rename(columns={'Song':'song','Artist':'artist'})

In [17]:
spotify_data.shape #(10860, 2)

(10860, 2)

In [18]:
spotify_data.head()

                                         song        artist
0  sunflower__spiderman:_into_the_spiderverse   post_malone
1                                lucid_dreams    juice_wrld
2                               xo_tour_llif3  lil_uzi_vert
3                              no_role_modelz       j._cole
4                                    rockstar   post_malone

In [19]:
#checking rihanna - lift_me_up
spotify_data[spotify_data['song']=='lift_me_up']
#good

Empty DataFrame
Columns: [song, artist]
Index: []

In [20]:
spotify_data['song'] = spotify_data['song'].str.replace('_',' ')
spotify_data['artist'] = spotify_data['artist'].str.replace('_',' ')
spotify_data['artist'] = spotify_data['artist'].str.title()
spotify_data['song'] = spotify_data['song'].str.title()

In [21]:
spotify_data.head()

                                         song        artist
0  Sunflower  Spiderman: Into The Spiderverse   Post Malone
1                                Lucid Dreams    Juice Wrld
2                               Xo Tour Llif3  Lil Uzi Vert
3                              No Role Modelz       J. Cole
4                                    Rockstar   Post Malone

In [28]:
spotify_data = spotify_data.sample(n = 5000).reset_index()

In [29]:
spotify_data.to_csv('not_hot_songs.csv')